.logo
{
  align-items: center;
  max-width: 4rem;
}

.quantity
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: black;
  max-width: 2rem;
  max-height: 1rem;
  border-radius: 1rem;
  color: white;
}