.categoria{
  font-size: 1rem;
  color: #5b5959;
  margin-bottom: 10px;
}

.link{
  text-decoration: none;
}

.card{
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: none;
  margin: 1rem;
  padding: 0rem;
  background-color: #f6f6f6;
  max-width: 20rem;
  min-width: 1rem;
}

.card:hover{
  transform: scale(1.02);
}

.img{
  max-width: 18rem;
  min-width: 1rem;
  object-fit: contain;
}