.card{
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.348);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.card:hover{
  transform: scale(1.05);
}

.img{
  width: auto;
  height: 10rem;
}

.price{
  font-size: 1.5rem;
  font-weight: 600;
}

.link{
  text-decoration: none;
  color: #000000;
}